<a href="https://colab.research.google.com/github/aayushkubb/nlp/blob/main/Text_Processing_Basics_NGRAMS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import nltk

nltk.download('stopwords')
nltk.download('punkt')
from nltk.corpus import stopwords

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [ ]:
#Sample tweets
sentences=['Neeraj chopra is a great player','Neeraj Chopra won olympics','Neeraj Chopra is gold medalist now',
           'India won first gold medal in tokyo 2020','first gold medal for india','india gold medal tally goes to one']

In [ ]:
Stopwords = set(stopwords.words('english'))
Stopwords.add("a")

In [ ]:

tokens=[]
for i in sentences:
  tokens.extend(nltk.word_tokenize(i.lower()))

In [ ]:
for i in tokens:
  if i in Stopwords:
    tokens.remove(i)

#NGRAMS - Using NLTK

In [ ]:
from nltk.util import ngrams
from collections import Counter

#Unigrams
unigrams=[i for i in ngrams(tokens,1)]
unigrams=Counter(unigrams)

#Bigrams
bigrams=[i for i in ngrams(tokens,2)]
bigrams=Counter(bigrams)

#trigrams
trigrams=[i for i in ngrams(tokens,3)]
trigrams=Counter(trigrams)

In [ ]:
bigrams.most_common(2)

[(('neeraj', 'chopra'), 3), (('gold', 'medal'), 3)]

In [ ]:
trigrams.most_common(1)

[(('first', 'gold', 'medal'), 2)]

In [ ]:
trigrams

Counter({('2020', 'first', 'gold'): 1,
         ('a', 'great', 'player'): 1,
         ('chopra', 'a', 'great'): 1,
         ('chopra', 'gold', 'medalist'): 1,
         ('chopra', 'olympics', 'neeraj'): 1,
         ('first', 'gold', 'medal'): 2,
         ('gold', 'medal', 'india'): 1,
         ('gold', 'medal', 'tally'): 1,
         ('gold', 'medal', 'tokyo'): 1,
         ('gold', 'medalist', 'india'): 1,
         ('great', 'player', 'neeraj'): 1,
         ('india', 'first', 'gold'): 1,
         ('india', 'gold', 'medal'): 1,
         ('india', 'india', 'gold'): 1,
         ('medal', 'india', 'india'): 1,
         ('medal', 'tally', 'goes'): 1,
         ('medal', 'tokyo', '2020'): 1,
         ('medalist', 'india', 'first'): 1,
         ('neeraj', 'chopra', 'a'): 1,
         ('neeraj', 'chopra', 'gold'): 1,
         ('neeraj', 'chopra', 'olympics'): 1,
         ('olympics', 'neeraj', 'chopra'): 1,
         ('player', 'neeraj', 'chopra'): 1,
         ('tally', 'goes', 'one'): 1,
         ('tokyo', '2020', 'first'): 1})

# Using Collocations

In [ ]:
bigrams = nltk.collocations.BigramAssocMeasures()
bigramFinder = nltk.collocations.BigramCollocationFinder.from_words(tokens)

#bigrams
bigram_freq = bigramFinder.ngram_fd.items()
bigramFreqTable = pd.DataFrame(list(bigram_freq), columns=['bigram','freq']).sort_values(by='freq', ascending=False)
bigramFreqTable

                bigram  freq
0     (neeraj, chopra)     3
12       (gold, medal)     3
11       (first, gold)     2
3      (great, player)     1
13      (medal, tokyo)     1
20       (tally, goes)     1
19      (medal, tally)     1
18       (india, gold)     1
17      (india, india)     1
16      (medal, india)     1
15       (2020, first)     1
14       (tokyo, 2020)     1
2           (a, great)     1
4     (player, neeraj)     1
1          (chopra, a)     1
10      (india, first)     1
9    (medalist, india)     1
8     (gold, medalist)     1
7       (chopra, gold)     1
6   (olympics, neeraj)     1
5   (chopra, olympics)     1
21         (goes, one)     1

In [ ]:
trigrams = nltk.collocations.TrigramAssocMeasures()
trigramFinder = nltk.collocations.TrigramCollocationFinder.from_words(tokens)

#trigrams
trigram_freq = trigramFinder.ngram_fd.items()
trigramFreqTable = pd.DataFrame(list(trigram_freq), columns=['bigram','freq']).sort_values(by='freq', ascending=False)
trigramFreqTable

                        bigram  freq
13        (first, gold, medal)     2
0          (neeraj, chopra, a)     1
23        (medal, tally, goes)     1
22        (gold, medal, tally)     1
21        (india, gold, medal)     1
20        (india, india, gold)     1
19       (medal, india, india)     1
18        (gold, medal, india)     1
17         (2020, first, gold)     1
16        (tokyo, 2020, first)     1
15        (medal, tokyo, 2020)     1
14        (gold, medal, tokyo)     1
12        (india, first, gold)     1
1           (chopra, a, great)     1
11    (medalist, india, first)     1
10     (gold, medalist, india)     1
9     (chopra, gold, medalist)     1
8       (neeraj, chopra, gold)     1
7   (olympics, neeraj, chopra)     1
6   (chopra, olympics, neeraj)     1
5   (neeraj, chopra, olympics)     1
4     (player, neeraj, chopra)     1
3      (great, player, neeraj)     1
2           (a, great, player)     1
24          (tally, goes, one)     1